### 데이터프레임 데이터 조작 함수 연습문제

In [1]:
# 패키지 임포트
import pandas as pd
import numpy as np
import seaborn

In [2]:
# seaborn 패키지의 titanic 데이터셋을 load 하시오
titanic = seaborn.load_dataset('titanic')

#### 연습문제 1
- 타이타닉 호 승객에 대해서 다음의 값 추출
  - 성별(sex) 인원수 : 인덱스 기준으로 정렬
  - 나이별(age) 인원수 : 값 기준 정렬  
  - 선실별(class) 인원수, 사망/생존(alive)인원수 : 임의 정렬

In [3]:
titanic['sex'].value_counts().sort_index()

sex
female    314
male      577
Name: count, dtype: int64

In [4]:
titanic['age'].value_counts().sort_values()

age
74.00     1
34.50     1
0.42      1
0.67      1
66.00     1
         ..
28.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: count, Length: 88, dtype: int64

In [5]:
titanic.value_counts(['class', 'alive']).sort_index()

class   alive
First   no        80
        yes      136
Second  no        97
        yes       87
Third   no       372
        yes      119
Name: count, dtype: int64

#### 연습문제 2
- 성별에 따른 생존자수와 사망자수의 정보를 갖고 있는 데이터프레임 생성  
    - 0은 생존 1은 사망

In [6]:
data = titanic.value_counts(['sex', 'survived'])
surv_df = pd.DataFrame(data.sort_index())
surv_df

                 count
sex    survived
female 0            81
       1           233
male   0           468
       1           109

![](데이터조작문제.PNG)

#### 연습문제 3
- 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고(alive)
- 각 그룹에 대해 미성년자, 청년, 중년, 장년, 노년 승객의 비율 출력  
    - bins=[0,18,35,50,65,99]
    - labels=['미성년자','청년','중년','장년','노년']

In [7]:
bins=[0,18,35,50,65,99]
labels=['미성년자','청년','중년','장년','노년']

alive_group = titanic[titanic['alive']=='yes']['age']
dead_group = titanic[titanic['alive']=='no']['age']

alive_ratio = pd.cut(alive_group, bins=bins, labels=labels).value_counts(normalize=True)*100
dead_ratio = pd.cut(dead_group, bins=bins, labels=labels).value_counts(normalize=True)*100

In [8]:
alive_ratio

age
청년      47.241379
미성년자    24.137931
중년      21.034483
장년       7.241379
노년       0.344828
Name: proportion, dtype: float64

In [9]:
dead_ratio

age
청년      52.122642
중년      21.698113
미성년자    16.273585
장년       8.254717
노년       1.650943
Name: proportion, dtype: float64

#### 연습문제 4
- 내포 for문을 이용해서 리스트 ['id_1','id_2','id_3','id_4'] 생성

In [10]:
ls = ['id_'+str(i+1) for i in range(4)]
ls

['id_1', 'id_2', 'id_3', 'id_4']