In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### 연습문제 1
- 붓꽃(iris) 데이터에서 붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width) 등의 평균 구하기

In [3]:
# 붓꽃(iris) 데이터 로드
import seaborn as sns
iris = sns.load_dataset("iris")

In [4]:
# 붓꽃 종 별로 그룹핑
iris_species = iris.groupby('species')

In [5]:
# 그룹핑된 위 객체를 이용해 각 품종 별 꽃잎길이의 평균을 구하시오
iris_species['petal_length'].mean()

species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

In [6]:
# 그룹핑된 groups 객체를 이용하여 각 품종별 꽃받침 길이의 평균을 구하시오
iris_species['sepal_length'].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

#### 연습문제 2
- tips 데이터셋 사용하여 total_bill 
- 대비 팁의 비율이 요일과 점심/저녁 여부, 인원수에 어떤 영향을 받는지 확인
- 어떤 요인이 가장 크게 작용하는지 확인

In [7]:
# tips 데이터셋 로드
import seaborn as sns
tips = sns.load_dataset("tips")

In [8]:
# (1) total_bill 대비 팁 요금의 비율을 계산하고 가공필드 tip_pct 열에 저장
tips['tip_pct'] = tips['tip']/tips['total_bill']

In [9]:
# (2) 각 요일별 손님의 수를 확인
tips.groupby('day', observed=True)['size'].sum()

day
Thur    152
Fri      40
Sat     219
Sun     216
Name: size, dtype: int64

In [10]:
# (3) 각 요일별 한테이블당 인원수의 평균 확인
tips.groupby('day', observed=True)['size'].mean()

day
Thur    2.451613
Fri     2.105263
Sat     2.517241
Sun     2.842105
Name: size, dtype: float64

In [11]:
# (4) 점심/저녁 손님의 수 확인 
tips.groupby('time', observed=True)['size'].sum()

time
Lunch     164
Dinner    463
Name: size, dtype: int64

In [12]:
# (5) 점심 저녁 별로 테이블당 인원수 평균 구하기
tips.groupby('time', observed=True)['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

In [13]:
# (6) 각 요일별 점심/저녁 손님의 수를 피봇 테이블로 출력
tips.pivot_table(index='day', columns='time', values='size', aggfunc='sum')

time  Lunch  Dinner
day
Thur    150       2
Fri      14      26
Sat       0     219
Sun       0     216

In [14]:
# (7) 각 요일별 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
tips.pivot_table(index='day', values='size', aggfunc=['mean', 'max', 'min'])

          mean  max  min
          size size size
day
Thur  2.451613    6    1
Fri   2.105263    4    1
Sat   2.517241    5    1
Sun   2.842105    6    2

In [15]:
# (8) 각 요일별 시간대별(Dinner/Lunch) 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
# index : day, time
tips.pivot_table(index=['day', 'time'], values='size', aggfunc=['mean', 'max', 'min'])

                 mean  max  min
                 size size size
day  time
Thur Lunch   2.459016  6.0  1.0
     Dinner  2.000000  2.0  2.0
Fri  Lunch   2.000000  3.0  1.0
     Dinner  2.166667  4.0  2.0
Sat  Dinner  2.517241  5.0  1.0
Sun  Dinner  2.842105  6.0  2.0

In [16]:
# (9) 각 요일별/시간대별(Dinner/Lunch) 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
# 결측치는 0으로 채움
tips.pivot_table(index=['day', 'time'], values='size', aggfunc=['mean', 'max', 'min'], fill_value=0)

                 mean  max  min
                 size size size
day  time
Thur Lunch   2.459016  6.0  1.0
     Dinner  2.000000  2.0  2.0
Fri  Lunch   2.000000  3.0  1.0
     Dinner  2.166667  4.0  2.0
Sat  Dinner  2.517241  5.0  1.0
Sun  Dinner  2.842105  6.0  2.0

In [17]:
# (10) 각 요일별 tip_pct의 평균 구하기
tips.groupby('day', observed=True)['tip_pct'].mean()

day
Thur    0.161276
Fri     0.169913
Sat     0.153152
Sun     0.166897
Name: tip_pct, dtype: float64

In [18]:
# (11) 시간대별 tip_pct의 평균 구하기
tips.groupby('time', observed=True)['tip_pct'].mean()

time
Lunch     0.164128
Dinner    0.159518
Name: tip_pct, dtype: float64

In [19]:
# (12) 각 요일에 따른 time별 tip_pct의 평균 구하기
tips.groupby(['day', 'time'], observed=True)['tip_pct'].mean()

day   time
Thur  Lunch     0.161301
      Dinner    0.159744
Fri   Lunch     0.188765
      Dinner    0.158916
Sat   Dinner    0.153152
Sun   Dinner    0.166897
Name: tip_pct, dtype: float64

In [20]:
# (13) 각 요일별로 시간대 평균인원수와 팁비율의 평균 구하기
def avgs(gp):
    avg_person = gp.groupby('time', observed=True)['size'].sum().mean()
    avg_tip = gp['tip_pct'].mean()
    return pd.Series({'시간대 평균인원수':avg_person, '팁비율 평균':avg_tip})
tips.groupby(['day'], observed=True).apply(avgs)

      시간대 평균인원수    팁비율 평균
day
Thur       76.0  0.161276
Fri        20.0  0.169913
Sat       219.0  0.153152
Sun       216.0  0.166897