### 크롤링 연습문제

#### 문제 1
- 네이버 금융 페이지에서 유가/환율/국제금 시세/국내금 시세 추출  
- url = 'https://finance.naver.com'

In [1]:
from urllib.request import urlopen
import requests
import bs4
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
url = 'https://finance.naver.com'
html = urlopen(url)
bs_obj = bs4.BeautifulSoup(html, 'html.parser')

In [3]:
tables = bs_obj.select('table.tbl_home') # 테이블 관련 클래스 추출
for table in tables:
    print(table.select_one('caption').text.strip().split('\n')[0])

거래상위 TOP 종목
상승 TOP 종목
하락 TOP 종목
시가총액 상위 TOP 종목
환전 고시 환율
국제 시장 환율
금리
유가
금 시세
원자재
해외 증시
인기 검색 종목표

In [4]:
# 유가 테이블
table = tables[7]
oil = table.select_one('tbody tr:nth-child(2)').find('td').text

# 환율 테이블
table = tables[4]
USD = table.select_one('tbody tr:first-child').find('td').text

# 금 시세 테이블
table = tables[8]
gold_out = table.select_one('tbody tr:first-child').find('td').text
gold_in = table.select_one('tbody tr:nth-child(2)').find('td').text

print('유가 : ',oil,'달러/배럴')
print('USD : ',USD,'원')
print('국제금 : ',gold_out,'달러/트로이온스')
print('국내금 : ',gold_in,'원/g')

유가 :  88.52 달러/배럴
USD :  1,327.60 원
국제금 :  1,932.50 달러/트로이온스
국내금 :  81,570.36 원/g

In [5]:
# 유가 :  88.84
# USD :  1,328.00
# 국제금 :  1,935.10
# 국내금 :  81,781.70

#### 문제 2
- 네이버 증권 페이지에서 상한가 / 하한가 / 시가총액상위 기업 추출
- url = "http://finance.naver.com/sise/"

In [6]:
url = "http://finance.naver.com/sise/"
html = urlopen(url)
bs_obj = bs4.BeautifulSoup(html, 'html.parser')

In [7]:
tops = bs_obj.find('table', {'summary':'탑종목 상한가 리스트'}).findAll('tr')[2:-2] # 3번째 tr부터 마지막 3번째 tr 까지 순위

print('---------- 상한가 ----------')
i = 1
for top in tops:
    tds = top.findAll('td')
    print(i, tds[3].text, end=' = ')
    print(tds[4].text)
    i += 1

---------- 상한가 ----------
1 피씨엘 = 3,980
2 서남 = 4,795
3 엘에이티 = 8,030
4 엔젠바이오 = 8,760

In [8]:
# ---------- 상한가 ----------
# 1 노루홀딩스우 = 48,900
# 2 이원컴포텍 = 4,120
# 3 에이스테크 = 2,425
# 4 노루페인트우 = 25,450
# 5 머큐리 = 8,370
# 6 애드바이오텍 = 4,910
# 7 썬테크 = 5,180
# 8 엔에스컴퍼니 = 4,845

In [9]:
tops = bs_obj.find('table', {'summary':'탑종목 하한가 리스트'}).findAll('tr')[2:-2]

print('---------- 하한가 ----------')
i = 1
for top in tops:
    tds = top.findAll('td')
    print(i, tds[3].text, end=' = ')
    print(tds[4].text)
    i += 1

---------- 하한가 ----------
1 대유에이텍 = 355
2 골프존데카 = 1,180
3 테크엔 = 246

In [10]:

# ----------- 하한가 -----------
# 1 테크엔 = 289

In [11]:
tops = bs_obj.find('table', {'summary':'탑종목 시가총액상위 리스트'}).findAll('tr')[2:-2]

print('---------- 시가총액 상위 ----------')
i = 1
for top in tops:
    if i>=6 and i <= 8:
        i += 1
        continue
    tds = top.findAll('td')
    if i>=6:
        print(i-3, end=' ')
    else:
        print(i, end=' ')    
    print(tds[1].text, end=' = ')
    print(tds[2].text)
    i += 1

---------- 시가총액 상위 ----------
1 삼성전자 = 71,400
2 LG에너지솔루션 = 510,000
3 SK하이닉스 = 119,500
4 삼성바이오로직스 = 724,000
5 삼성전자우 = 57,500
6 POSCO홀딩스 = 550,000
7 현대차 = 189,400
8 삼성SDI = 576,000
9 LG화학 = 547,000
10 NAVER = 222,500

In [12]:

# ----------- 시가총액 상위 -----------
# 1 삼성전자 = 70,900
# 2 LG에너지솔루션 = 494,500
# 3 SK하이닉스 = 118,500
# 4 삼성바이오로직스 = 723,000
# 5 삼성전자우 = 57,500
# 6 POSCO홀딩스 = 529,000
# 7 현대차 = 189,800
# 8 삼성SDI = 558,000
# 9 LG화학 = 540,000
# 10 NAVER = 222,000