# 파이썬 DB 연동
 - CRUD 작업 처리

In [ ]:
# pymysql 설치
!pip install pymysql

In [1]:
import pymysql

In [2]:
# 1. DB 연결
# 각 파라미터들에 정확한 정보 입력
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       passwd='Wk0qbfmt!',
                       charset='utf8')

In [3]:
# 2. cursor 객체 생성
cursor = conn.cursor()

In [4]:
# 3. sql문 실행
sql = 'SHOW DATABASES'
cursor.execute(sql)

5

In [5]:
# 4. sql문 실행결과 추출 / fetchall() 메소드
result = cursor.fetchall()
result

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sqldb3',),
 ('sys',))

In [6]:
# 새로운 데이터베이스 만들기
sql = 'CREATE DATABASE beauty_shop'
cursor.execute(sql)

cursor.execute('SHOW DATABASES')
cursor.fetchall()

(('beauty_shop',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sqldb3',),
 ('sys',))

In [7]:
sql = 'DROP DATABASE beauty_shop'
cursor.execute(sql)

cursor.execute('SHOW DATABASES')
cursor.fetchall()

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sqldb3',),
 ('sys',))

In [8]:
# 데이터베이스 사용
sql = 'USE sqldb3'
cursor.execute(sql)

0

In [9]:
sql = 'SHOW TABLES'
cursor.execute(sql)
cursor.fetchall()

(('book',),
 ('bookSale',),
 ('client',),
 ('client_view',),
 ('new_book1',),
 ('publisher',))

In [10]:
# 테이블 구조 확인
sql = 'DESC book'
cursor.execute(sql)
cursor.fetchall()

(('bookNo', 'int', 'NO', 'PRI', None, ''),
 ('bookName', 'varchar(20)', 'YES', '', None, ''),
 ('bookAuthor', 'varchar(10)', 'YES', '', None, ''),
 ('bookPrice', 'int', 'YES', '', None, ''),
 ('bookDate', 'date', 'YES', '', None, ''),
 ('bookStock', 'int', 'YES', '', None, ''),
 ('pubNo', 'int', 'YES', 'MUL', None, ''))

###############################################

In [11]:
sql = 'SELECT * FROM book'
cursor.execute(sql)
result = cursor.fetchall()
result

((1001, '데이터베이스 이론', '홍길동', 22000, datetime.date(2019, 11, 11), 5, 3),
 (1002, '자바 프로그래밍', '이몽룡', 25000, datetime.date(2021, 12, 12), 4, 1),
 (1003, '인터넷프로그래밍', '성춘향', 30000, datetime.date(2019, 2, 10), 10, 2),
 (1004, '안드로이드 프로그래밍', '변학도', 23000, datetime.date(2017, 10, 10), 2, 1),
 (1005, '안드로이드 앱', '강길동', 26000, datetime.date(2020, 1, 11), 5, 2),
 (1006, 'MS SQL SERVER 2014', '박지성', 35000, datetime.date(2020, 3, 25), 7, 3),
 (1007, 'HTML & CSS', '손흥민', 18000, datetime.date(2023, 9, 30), 3, 1),
 (1008, 'MFC 입문', '류현진', 20000, datetime.date(2015, 12, 12), 5, 1),
 (1009, '안드로이드 게임 제작', '나길동', 33000, datetime.date(2018, 10, 31), 5, 2),
 (1010, 'C++객체지향 프로그래밍', '추신수', 24000, datetime.date(2019, 4, 20), 2, 3),
 (1011, 'JSP 웹 프로그래밍', '김연아', 27000, datetime.date(2020, 10, 23), 8, 1),
 (1012, '해커들의 해킹 기법', '손연재', 32000, datetime.date(2018, 7, 7), 1, 2),
 (1013, '자료구조', '홍길동', 19000, datetime.date(2020, 1, 20), 4, 1),
 (1014, '파이썬', '성춘향', 35000, datetime.date(2023, 9, 25), 5, 2),
 (1015, '자바스크립 & jQuery', '홍길동', 27000, datetime.date(2019, 10, 22), 2, 2))

In [12]:
result[0][0]

1001

In [13]:
for t in result:
    print(t)

(1001, '데이터베이스 이론', '홍길동', 22000, datetime.date(2019, 11, 11), 5, 3)
(1002, '자바 프로그래밍', '이몽룡', 25000, datetime.date(2021, 12, 12), 4, 1)
(1003, '인터넷프로그래밍', '성춘향', 30000, datetime.date(2019, 2, 10), 10, 2)
(1004, '안드로이드 프로그래밍', '변학도', 23000, datetime.date(2017, 10, 10), 2, 1)
(1005, '안드로이드 앱', '강길동', 26000, datetime.date(2020, 1, 11), 5, 2)
(1006, 'MS SQL SERVER 2014', '박지성', 35000, datetime.date(2020, 3, 25), 7, 3)
(1007, 'HTML & CSS', '손흥민', 18000, datetime.date(2023, 9, 30), 3, 1)
(1008, 'MFC 입문', '류현진', 20000, datetime.date(2015, 12, 12), 5, 1)
(1009, '안드로이드 게임 제작', '나길동', 33000, datetime.date(2018, 10, 31), 5, 2)
(1010, 'C++객체지향 프로그래밍', '추신수', 24000, datetime.date(2019, 4, 20), 2, 3)
(1011, 'JSP 웹 프로그래밍', '김연아', 27000, datetime.date(2020, 10, 23), 8, 1)
(1012, '해커들의 해킹 기법', '손연재', 32000, datetime.date(2018, 7, 7), 1, 2)
(1013, '자료구조', '홍길동', 19000, datetime.date(2020, 1, 20), 4, 1)
(1014, '파이썬', '성춘향', 35000, datetime.date(2023, 9, 25), 5, 2)
(1015, '자바스크립 & jQuery', '홍길동', 27000, datetime.date(2019, 10, 22), 2, 2)

In [14]:
for t in result:
    print(f'{t[1]:24}\t{t[2]:4}\t{t[3]:^10}')

데이터베이스 이론               	홍길동 	  22000
자바 프로그래밍                	이몽룡 	  25000
인터넷프로그래밍                	성춘향 	  30000
안드로이드 프로그래밍             	변학도 	  23000
안드로이드 앱                 	강길동 	  26000
MS SQL SERVER 2014      	박지성 	  35000
HTML & CSS              	손흥민 	  18000
MFC 입문                  	류현진 	  20000
안드로이드 게임 제작             	나길동 	  33000
C++객체지향 프로그래밍           	추신수 	  24000
JSP 웹 프로그래밍             	김연아 	  27000
해커들의 해킹 기법              	손연재 	  32000
자료구조                    	홍길동 	  19000
파이썬                     	성춘향 	  35000
자바스크립 & jQuery          	홍길동 	  27000

In [15]:
# datetime.date() 타입을 문자열로 변환하기 / strftime()함수 사용
for row in result:
    print(row[4].strftime("%Y년 %m월 %d일 - %H시 %M분 %S초"))

2019년 11월 11일 - 00시 00분 00초
2021년 12월 12일 - 00시 00분 00초
2019년 02월 10일 - 00시 00분 00초
2017년 10월 10일 - 00시 00분 00초
2020년 01월 11일 - 00시 00분 00초
2020년 03월 25일 - 00시 00분 00초
2023년 09월 30일 - 00시 00분 00초
2015년 12월 12일 - 00시 00분 00초
2018년 10월 31일 - 00시 00분 00초
2019년 04월 20일 - 00시 00분 00초
2020년 10월 23일 - 00시 00분 00초
2018년 07월 07일 - 00시 00분 00초
2020년 01월 20일 - 00시 00분 00초
2023년 09월 25일 - 00시 00분 00초
2019년 10월 22일 - 00시 00분 00초

In [18]:
# 연습문제
sql = '''
    SELECT clientName, bsDate, bookName, bsQty, pubName
    FROM bookSale
        INNER JOIN book ON book.bookNo = bookSale.bookNo
        INNER JOIN publisher ON publisher.pubNo = book.pubNo
        INNER JOIN client ON client.clientNo = bookSale.clientNo
    WHERE pubName = '도서출판 강남'
    ORDER BY clientName
'''
cursor.execute(sql)
result = cursor.fetchall()
result

(('베컴', datetime.date(2021, 7, 9), '인터넷프로그래밍', 2, '도서출판 강남'),
 ('옴바페', datetime.date(2022, 1, 2), '안드로이드 앱', 9, '도서출판 강남'),
 ('호날두', datetime.date(2020, 2, 20), '안드로이드 게임 제작', 5, '도서출판 강남'))

######################################################

## INSERT

In [27]:
bookNo = input('도서번호 입력 : ')
bookName = input('도서명 입력 : ')
bookAuthor = input('저자 입력 : ')
bookPrice = input('도서가격 입력 : ')
bookDate = input('출판일자 입력 : ')
bookStock = input('재고 입력 : ')
pubNo = input('출판사번호 입력 : ')

도서번호 입력 : 1017
도서명 입력 : SQL 입문
저자 입력 : 고길동
도서가격 입력 : 30000
출판일자 입력 : 2023-09-27
재고 입력 : 6
출판사번호 입력 : 1

In [21]:
# 방법1
sql = "INSERT INTO book VALUES ('" \
    + bookNo + "', '" \
    + bookName + "', '" \
    + bookAuthor + "', '" \
    + bookPrice + "', '" \
    + bookDate + "', '" \
    + bookStock + "', '" \
    + pubNo + "')"

cursor.execute(sql)
conn.commit() # 이거까지 해줘야 데이터베이스에 반영됨

In [29]:
# 방법2
sql = "INSERT INTO book VALUES (%s, %s, %s, %s, %s, %s, %s)"
values = (bookNo, bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo)
cursor.execute(sql, values)
conn.commit()

## UPDATE

In [9]:
sql = "UPDATE client SET clientPhone='010-1234-1234' WHERE clientName='메시'"
cursor.execute(sql)
conn.commit()

In [11]:
bookNo = input('수정할 도서번호 입력 : ')
bookName = input('도서명 입력 : ')
bookAuthor = input('저자 입력 : ')
bookPrice = input('도서가격 입력 : ')
bookDate = input('출판일자 입력 : ')
bookStock = input('재고 입력 : ')
pubNo = input('출판사번호 입력 : ')

수정할 도서번호 입력 : 1001
도서명 입력 : 데이터베이스 이론 및 실기
저자 입력 : 홍길동
도서가격 입력 : 25000
출판일자 입력 : 2019-11-11
재고 입력 : 7
출판사번호 입력 : 3

In [16]:
sql = "UPDATE book SET bookName=%s, bookAuthor=%s, bookPrice=%s, bookDate=%s, " + \
      "bookStock=%s, pubNo=%s WHERE bookNo=%s"
values = (bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo, bookNo)

cursor.execute(sql, values)
conn.commit()

## DELETE

In [17]:
bookNo = input('삭제할 도서번호 입력 : ')
sql = "DELETE FROM book WHERE bookNo=" + bookNo
cursor.execute(sql)
conn.commit()

삭제할 도서번호 입력 : 1017

## PROCEDURE

In [22]:
cursor.callproc("clientRateCheckProc2")
cursor.fetchall()

((3, '샤라포바', Decimal('70000'), '보통'),
 (7, '옴바페', Decimal('257000'), '최우수'),
 (2, '호날두', Decimal('265000'), '최우수'),
 (1, '메시', Decimal('108000'), '우수'),
 (4, '베컴', Decimal('60000'), '보통'),
 (8, '살라', Decimal('23000'), '관심고객'))

### IN 매개변수 프로시저 호출법

In [29]:
# 방법1
cursor.callproc("clientRateCheckProc", {"1"})
cursor.fetchall()

((1, '메시', 108000, '우수'),)

In [30]:
# 방법2
cursor.callproc("clientRateCheckProc", ("2"))
cursor.fetchall()

((2, '호날두', 265000, '최우수'),)

In [31]:
# 방법3
cursor.callproc("clientRateCheckProc", "3")
cursor.fetchall()

((3, '샤라포바', 70000, '보통'),)

In [32]:
#방법4
cursor.execute("CALL clientRateCheckProc('4')")
cursor.fetchall()

((4, '베컴', 60000, '보통'),)

### IN/OUT 매개변수 프로시저 호출법

In [35]:
sql = "CALL bookPriceCountProc(25000, @bookCount)"
cursor.execute(sql)
cursor.execute("SELECT @bookCount")
cursor.fetchone() #값이 1개 반환시

(8,)

In [1]:
# 다 쓰면 닫아줘야 함
cursor.close()
conn.close()

NameError: name 'cursor' is not defined