In [1]:
# (1) DB 연결
import pymysql
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='##', charset='utf8')
cursor = conn.cursor()
cursor.execute("USE sqldb4")

0

In [2]:
# (2) prodcut 테이블에서 전체 상품 정보 출력
sql = "SELECT * FROM product"
cursor.execute(sql)
cursor.fetchall()

((1, '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 (2, 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 (3, 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 (4, '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 (5, 'UHD 커브드 65인치', 2250000, '삼성전자', '은색', 1),
 (6, '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 (7, '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 (8, '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 (9, '노트북9 metal', 1390000, '도시바', '은색', 2),
 (10, 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 (11, '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 (12, '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 (13, '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 (14, '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 (15, '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 (16, '그늘막 텐트', 33000, '밀레', '그린', 4))

In [3]:
# (3) 상품가격이 1,000,000원 이상인 상품만 출력
sql = "SELECT * FROM product WHERE prdPrice >= 1000000"
cursor.execute(sql)
cursor.fetchall()

((1, '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 (2, 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 (3, 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 (5, 'UHD 커브드 65인치', 2250000, '삼성전자', '은색', 1),
 (9, '노트북9 metal', 1390000, '도시바', '은색', 2),
 (10, 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2))

In [4]:
# (4) 새로운 상품 등록 (입력 받아서)
prdNo = input('제품번호 입력 : ')
prdName = input('제품명 입력 : ')
prdPrice = input('가격 입력 : ')
prdMaker = input('제조사 입력 : ')
prdColor = input('색상 입력 : ')
ctgNo = input('카테고리번호 입력 : ')

제품번호 입력 : 17
제품명 입력 : 아이폰15
가격 입력 : 1600000
제조사 입력 : Apple
색상 입력 : 스타라이트
카테고리번호 입력 : 2

In [5]:
sql = "INSERT INTO product VALUES (%s, %s, %s, %s, %s, %s)"
values = (prdNo, prdName, prdPrice, prdMaker, prdColor, ctgNo)
cursor.execute(sql, values)

1

In [6]:
cursor.execute("SELECT * FROM product")
cursor.fetchall()

((1, '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 (2, 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 (3, 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 (4, '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 (5, 'UHD 커브드 65인치', 2250000, '삼성전자', '은색', 1),
 (6, '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 (7, '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 (8, '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 (9, '노트북9 metal', 1390000, '도시바', '은색', 2),
 (10, 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 (11, '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 (12, '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 (13, '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 (14, '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 (15, '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 (16, '그늘막 텐트', 33000, '밀레', '그린', 4),
 (17, '아이폰15', 1600000, 'Apple', '스타라이트', 2))

In [7]:
# (5) 상품번호가 10인 상품의 가격을 1,000,000원으로 수정
sql = "UPDATE product SET prdPrice='1000000' WHERE prdNo='10'"
cursor.execute(sql)

1

In [8]:
cursor.execute("SELECT * FROM product")
cursor.fetchall()

((1, '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 (2, 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 (3, 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 (4, '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 (5, 'UHD 커브드 65인치', 2250000, '삼성전자', '은색', 1),
 (6, '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 (7, '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 (8, '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 (9, '노트북9 metal', 1390000, '도시바', '은색', 2),
 (10, 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),
 (11, '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 (12, '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 (13, '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 (14, '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 (15, '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 (16, '그늘막 텐트', 33000, '밀레', '그린', 4),
 (17, '아이폰15', 1600000, 'Apple', '스타라이트', 2))

In [9]:
# (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)
prdNo = input('삭제할 상품번호 입력 : ')
sql = "DELETE FROM product WHERE prdNo=" + prdNo
cursor.execute(sql)

삭제할 상품번호 입력 : 15

1

In [10]:
cursor.execute("SELECT * FROM product")
cursor.fetchall()

((1, '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 (2, 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 (3, 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 (4, '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 (5, 'UHD 커브드 65인치', 2250000, '삼성전자', '은색', 1),
 (6, '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 (7, '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 (8, '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 (9, '노트북9 metal', 1390000, '도시바', '은색', 2),
 (10, 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),
 (11, '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 (12, '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 (13, '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 (14, '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 (16, '그늘막 텐트', 33000, '밀레', '그린', 4),
 (17, '아이폰15', 1600000, 'Apple', '스타라이트', 2))

In [11]:
cursor.close()
conn.close()